[Unit]
Description=Serial comm. daemon for OpenCat devices.
After=syslog.target network.target

[Service]
WorkingDirectory=/home/sommarjobbare/Serial-Daemon/
ExecStart=/usr/bin/python daemon.py

[Install]
WantedBy=multi-user.target
